#about {
    background: black;
    padding-top: 96px;
    padding-bottom: 40px;
    overflow: hidden;
  }
  
  #about h2 {
    font: 22px/30px "opensans-bold", sans-serif;
    color: #fff;
    margin-bottom: 12px;
  }
  #about p {
    line-height: 30px;
    color: #7a7a7a;
  }

  #about .profile-pic {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 100%;
  }
  #about .contact-details {
    width: 41.66667%;
  }
  #about .download {
    width: 58.33333%;
    padding-top: 6px;
  }
  #about .main-col {
    padding-right: 5%;
  }

  #about a{
    text-decoration: none;
    line-height: 30px;
  }

  #about .progress{
    transition: 1s ease;
    transition-delay: 2s;
  }

  @media only screen and (max-width: 900px) {
    
    #about .profile-pic {
        width: 114px;
        height: 114px;
        margin-left: 12px;
     }
     #about .contact-details { width: 50%; }
     #about .download { width: 50%; }
  
    }

    @media only screen and (max-width: 767px) {
        #about .profile-pic { display: none; }
        
        #about .download{
          padding-left: 6.9em;
       }

        #about .download .btn-down {
           width: 100%;
           padding: 15px 20px;
        }
        #about .main-col { padding-right: 30px; }
       

    }