#testimonials {
    background: #1f1f1f url('../images/parallax1.jpg') no-repeat bottom center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    background-attachment: fixed;
    position: relative;
    min-height: 400px;
    width: 100%;
    overflow: hidden;
    color: #fff;
  }
  #testimonials .text-container {
    padding: 75px 100px 70px;
  }
  #testimonials h1 {
    font: 20px "opensans-bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    
  }

  /*	Blockquotes */
  #testimonials blockquote {
    position: relative;
    margin: 0;
    padding: 10px 50px 0;
    font-size: large;
  }
 
  #testimonials blockquote .testimonial {
    font-family: "librebaskerville-italic", serif;
    font-size: large;
    line-height: 48px;
    color: whitesmoke;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
    font-style: italic;
    letter-spacing: 0.5px;
  }

  #testimonials blockquote .testimonial:before {
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    font-size: large;
    padding-right: 1rem;
  }

  #testimonials blockquote .testimonial:after {
    content: "\f10e";
    font-family: "Font Awesome 5 Free";
     font-weight: bold;
     font-size: large;
     padding-left: 1rem;
  }

  #testimonials blockquote cite {
    display: block;
    letter-spacing: 0.5px;
    font-style: normal;
  }
 
  #testimonials blockquote a,
  #testimonials blockquote a:visited {
    text-decoration: none;
    letter-spacing: 1px;
  }

  @media only screen and (max-width: 900px) {
    #testimonials .header-col h1:before {
        font-size: 66px;
        line-height: 66px;
     }
     #testimonials blockquote .testimonial {
        font-size: 22px;
        line-height: 46px;
     }
  }

  @media only screen and (max-width: 767px) {
  
    #testimonials{
    height: auto
    }

    #testimonials .text-container { 
      text-align: center; 
      padding: 55px 45px 75px;
    }

    #testimonials h1 {
       font: 16px/24px 'opensans-bold', sans-serif;
       text-align: center;
       margin-bottom: 15px;
       text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
    }

    #testimonials blockquote { 
      font-size: medium;
      padding: 10px 30px 20px;
    } 

    #testimonials blockquote .testimonial {
       font-size: medium;
       text-align: center;
       line-height: 42px;
    }

    #testimonials blockquote .testimonial:before {
      font-size: medium;
      padding-right: 0.75em;
    }
  
    #testimonials blockquote .testimonial:after {
       font-size: medium;
       padding-left: 0.55em;
    }

    #testimonials blockquote cite {
      text-align: left;
    }

    #testimonials blockquote a {
      font-size: 14px;
   }

}